@import "@/variables";
@import "@/template";

.iconbox {
  max-width: 194px;
  height: 46px;
  display: flex;
  @include flex(row, flex-end, center);
  gap: 12px;
  .btnicon {
    background-color: $colorIconBackground;
    height: 46px;
    width: 46px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    @include _screenMobile {
      width: 32px;
      height: 32px;
    }
  }
  .fav {
    padding-top: 2.75px;
    width: 46px;
    @include _screenMobile {
      width: 32px;
      height: 32px;
    }
  }
  .active {
    background-color: $colorIconBackgroundActive;
  }
}

@include _screenMobile {
  .iconWithText {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 10px 20px;
  }
  .btn__item {
    width: 19px;
    max-height: 16px;
  }

  .iconbox {
    max-width: 360px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 5px 0px 20px;
    gap: 5px;
  }
  .btnicon {
    width: 32px;
    height: 32px;
  }

  .text {
    color: rgb(19, 19, 21);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    padding-left: 12px;
    text-decoration: none;
  }
  .link {
    text-decoration: none;
  }
}
